.pedidos_item {
    width: 90%;
    background-color: white;
    list-style: none;
    margin: 1.5rem auto;
    color: rgb(58, 58, 58);
    border-radius: 5px;
    background: linear-gradient(135deg, #ebf1f5, #fefefe);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08),
      -10px -10px 15px rgba(255, 255, 255, 0.8);
    padding: .8rem;
    box-sizing: border-box;
    cursor: pointer;
}