.clientes_form {
    width: 100%;
    margin: 0 auto 2rem;
    border-radius: 0 0 40px 40px;
    background: #FFFFFF;
    padding: 2rem;
    box-sizing: border-box;
}

.clientes_title {
    font-size: 1.4rem;
    margin: .8rem 0 2rem;
    font-weight: 600;
}

.clientes_label {
    display: none;
}

.clientes_input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #426D77;
    padding: .8rem 0 .4rem;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    display: block;
    font-family: inherit;
}

.clientes_input:focus {
    outline: none;
    border-bottom: 2px solid #426D77;
}

.clientes_button {
    display: block;
    margin: 2.5rem auto 1rem;
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #426D77;
    font-family: inherit;
    color: #FFFFFF;
}

.clientes_lista-title {
    font-size: 1.4rem;
    color: #FFFFFF;
    margin: 1rem 5% 1.5rem;
    font-weight: 600;
}

.clientes_lista {
    padding: 0;
}
