@import "../../styles/colors";
@import "../../styles/breakpoints";

.extrato {
    &_container {
        width: 90%;
        background-color: white;
        margin: 2rem auto;
        border-radius: 10px;
        background: $white;
        padding: 1rem;
        box-sizing: border-box;

        &-total {
            @include desktop() {
                order: 2;
                height: 75vh;
                border-radius: 0 10px 10px 0;
                margin: 0 3% 0 0;
                padding: 3rem;
                width: 50vw;
            }
        }
    
        &-lista {
            @include desktop() {
                order: 3;
                max-height: 90vh;
                margin: 0;
                width: 40vw;
                overflow-y: scroll;
                padding: 2rem;
                scrollbar-width: thin;
            }
        }
    }

    &_conta {
        font-size: 1.8rem;
        margin: 0 0 1rem;
        font-weight: 600;
    }

    &_title {
        font-size: 1.4rem;
        margin: 0 0 1rem;
        font-weight: 600;
    }

    &_item {
        border: 1px dashed $gray;
        border-bottom: none;
        padding: .4rem;
        box-sizing: border-box;

        &:last-child {
            border-bottom: 1px dashed $gray;
        }

        &-title {
            font-size: 1.2rem;
            color: $gray-darker;
        }
    }

    &_total {
        color: $red;
        text-align: right;
    }
}