// https://gs.statcounter.com/screen-resolution-stats

$tablet: 768px; //Menor
$desktop: 1280px; //Menor

@mixin tablet {
    @media (min-width: $tablet) { 
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) { 
        @content;
    }
}

$theme-lighter: #a7c2c9;
$theme: #426D77;
$theme-darker: #2e5960;
$white: #FFFFFF;
$red: #A01313;
$gray: #6B6B6B;
$gray-darker: #434343;
$black: #000000;