.clientes_item {
  width: 90%;
  background-color: white;
  list-style: none;
  margin: 1rem auto;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 0.8rem;
  box-sizing: border-box;
  cursor: pointer;
}

.clientes_page-link {
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.clientes_nome-custo {
  font-weight: 700;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
}

.clientes_custo {
  color: rgb(160, 19, 19);
  text-align: right;
  display: block;
  font-weight: 500;
}

.clientes_lista-pedidos {
  padding: 0;
  list-style: none;
  margin-top: .5rem;
  margin-bottom: .5rem;
  background-color: #fefefe;
  border-radius: 5px;
  border: 1px solid #eaf3f3;
}

.clientes_pedido {
  padding: .6rem;
}