/* 1. Passar um normalize */
/* 2. Começar a usar um sistema de estilo: CSS Modules, SASS, Styled Components, Tailwind */
/* 3. Criar uma padronização de estilo para elementos repetidos: container, input, label, button... */
/* 4. Criar uma padronização com variáveis para breakpoints, cores, bordas, padding... */
/* 5. Ajeitar a estrutura de declaração seguindo o BEM */

@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

body {
  margin: 0;
  font-family: 'Marcellus SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #426D77;
  margin-bottom: 7rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
