@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

/* ESTILO PADRÃO */
body {
  background-color: #426D77;
  font-family: 'Marcellus SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  margin-bottom: 7rem;
  min-width: 300px;

  /* PADRÃO NO DESKTOP */
  @media (min-width: 1280px) {
    box-sizing: border-box;
    overflow: hidden;
    padding: 2rem;
  }

  /* CONTAINER REACT COM NO DESKTOP */
  #root {
    @media (min-width: 1280px) {
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
    }
  }
}