@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import "./styles/index";

body {
  margin: 0;
  font-family: 'Marcellus SC', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $theme;
  margin-bottom: 7rem;

  @include desktop() {
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
  }

  #root {
    @include desktop() {
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
